# PFX scrape file location
PFX_SCRAPE_PATH = '/path/to/pfx_scrapes'

# autoemail notifications
EMAIL_FROM = 'autoemail_source@server.com'
EMAIL_TO = 'destination@server.com'
EMAIL_PWD = 'your-password'
EMAIL_SERVER = 'smtp.gmail.com:587'

# pretrained_models
MODELS_PATH = '/path/to/pretrained/models'

# datasets path
DATASETS_PATH = '/path/to/datasets'

# forecastio API key
FORECASTIO_API_KEY = 'insert-api-key-here'